/* //////////////////////CONFIG////////////////////// #f5f5e1 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');

:root{
    font-size: 16px;
    font-family: "Open Sans";
    position: relative;
    overflow-x: hidden;
    --backgorund-primary: white;
    --background-secondary: #014040;
    --background-extra: rgb(147, 201, 131);
    --element-primary: #008f8c;
    --element-secondary: #f27405;
    --extra: #d2d1c7;
    --transition-speed: 400ms;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-primary{
    background: var(--backgorund-primary);
}

.bg-secondary{
    background: var(--background-secondary)
}

.element-primary{
    color: var(--element-primary);
}

.element-secondary{
    color: var(--element-secondary);
}

.self-center{
    justify-self: center;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-center-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.pos-relat{
    position: relative;
}

.pos-abso{
    position: absolute;
}

.no-text-decor{
    text-decoration: none;
}

.fill-primary{
    fill: var(--element-primary);
}

.font{
    font-family: 'Source Sans 3', sans-serif;
}

/* //////////////////////CONFIG/////////////////////// */
/* ///////////////////////CODE//////////////////////// */

body{
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar{
    display: none;
}

.nav-bar{
    height: 64px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: column;
    align-items: center;
    background: var(--backgorund-primary);
}

#burger{
    position: absolute;
    width:  0;
    height: 0;
    z-index: 1;
}

.item-1{
    right: 60px;
    cursor: pointer;
}

.sidenav{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    background: var(--element-primary);
    padding-top: 60px;
    
}

.profile-box{
    height: 20px;
    position: relative;
    bottom: 5px;
}

.profile{
    position: relative;
    bottom: 6px;
    right: 10px;
    fill: #ffffff;
}

.name{
    width: 135px;
    position: relative;
    bottom: 40px;
    left: 40px;
    font-weight: 300;
}

.border{
    position: relative;
    top: 10px;
    display: flex;
    width: 245px;
    justify-content: center;
}

.sidenav-border{
    justify-self: center;
    height: 2px;
    width: 220px;
    border-radius: 99999px;
    background: var(--backgorund-primary);
}

.filler{
    position: relative;
    top: 30px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-weight: 500;
}
  
.sidenav a:hover{
    color: var(--element-secondary);
}
  
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#outer{
    position: absolute;
    width: 0;
    height: o;
}

#main{
    transition: margin-left .5s;
}

.item-2{
    grid-column: span 2;
}

.img-logo{
    z-index: 1;
}

.item-3{
    width: 150px;
    justify-content: space-between;
    z-index: 1;
}

.signin{
    top: 2.5px;
    padding: 0px;
}

.signin:hover{
    color: var(--element-secondary);
}

.signup{
    width: 65px;
    height: 21px;
    right: 6px;
    border-radius: 20px;
    background: var(--element-primary);
    color: white;
}

.signup:hover{
    background: var(--element-secondary);
}

.nav-border{
    height: 2px;
    border-radius: 99999px;
    background: linear-gradient(90deg, var(--backgorund-primary) 0%, var(--extra) 30%, var(--extra) 70%, var(--backgorund-primary) 100%);
}

section{min-height: 400px;}

.slogan{
    display: block;
    align-items: flex-start;
    margin: 8rem 6rem;
}

.txt-1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.txt-2{top: 5px;}
/* ///////////////////////CODE//////////////////////// */

/* ======================= BALLS ====================== */
#ellipse-1{
    width: 50rem;
    height: 50rem;
    position: absolute;
    left: 70vw;
    top: 15vw;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--element-primary);
}

#ellipse-2{
    width: 45rem;
    height: 45rem;
    position: absolute;
    left: 50vw;
    top: 30vw;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--element-secondary);
}
/* ======================= BALLS ====================== */

/* ================== LOWER SECTION =================== */

/* -------------------- SEMANTICS --------------------- */
article div{
    background: var(--background-secondary);
    margin: 0;
}   

article svg{fill: var(--background-secondary);}

article h1{
    color: white;
    font-size: 36px;
    font-weight: 800;
}

article p{
    color: white;
    font-size: 24px;
    font-weight: 300;
}
/* -------------------- SEMANTICS --------------------- */

/* ---------------------- CLASS ----------------------- */
.lower-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh 40vh 40vh;
    margin-top: -4.7vw;
}

.lower-item{
    padding: 0 5rem;
    align-items: center;
}

.about-us{
    text-align: center;
    margin-top: -5vw;
}

.feature-header{
    text-align: center;
    margin-top: 10vw;
}

.feature-1{
    text-align: right;
}

.feature-2{
    text-align: left;
}

.feature-3{
    text-align: right;
}

.ex-feature-1{
    text-align: right;
}

.ex-feature-2{
    text-align: left;
}

.ex-feature-3{
    text-align: right;
}

/* ---------------------- CLASS ----------------------- */

/* ----------------------- ID ------------------------- */
#f-heading{margin-top: 3rem;}
/* ----------------------- ID ------------------------- */

/* ================== LOWER SECTION =================== */