/* //////////////////////CONFIG////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');

:root {
    font-size: 16px;
    font-family: "Open Sans";
    position: relative;
    --backgorund-primary: #fff;
    --background-secondary: #014040;
    --background-extra: rgb(147, 201, 131);
    --element-primary: #008f8c;
    --element-secondary: #f27405;
    --extra: #d2d1c7;
    --transition-speed: 400ms;
}

.bg-primary {
    background: var(--backgorund-primary);
}

.bg-secondary {
    background: var(--background-secondary)
}

.element-primary {
    color: var(--element-primary);
}

.element-secondary {
    color: var(--element-secondary);
}

::placeholder {
    color: white;
    opacity: 0.4;
}

input[type=submit] {
    color: #014040;
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
}

a {
    color: inherit;
}

.flex{
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.pos-relat {
    position: relative;
}

.no-text-decor{
    text-decoration: none;
}

.font{
    font-family: 'Source Sans 3', sans-serif;
}

.fill-white{
    fill: white;
}

/* //////////////////////CONFIG////////////////////// */
/* ///////////////////////CODE/////////////////////// */

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: orange;
}

.logo {
    margin-top: 20px;
}

.container {
    width: 100vw;
    height: 100vh;
}

.signin-box {    
    top: -30px;
    width: 411px;
    height: 528px;
    border-radius: 35px;
    box-shadow: -17px 15px 0px 0px rgba(0, 0, 0, 0.25);    
    background: var(--element-primary);
}

.signin {
    margin-top: 30px;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.account {
    width: 351px;
    height: 430px;
    top: 50px;
    left: 30px;
}

.username {
    font-size: 24px;        
    color: white;
}

.user-img-input {
    top: 10px;
    gap: 10px;
}

.user-img {    
    width: 10px;
    left: 3px;
}

.user-input {
    width: 326px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
    color: white;
}

.password {
    top: 40px;
    font-size: 24px;    
    color: white;
}

.pass-img-input {
    top: 40px;
    gap: 1px;
}

.pass-img {    
    width: 20px;
    left: -3px;
    fill: white;
}

.pass-input {    
    width: 325px;    
    font-size: 14px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
    color: white;
}

.bird-brain {    
    top: 50px;    
    font-size: 12px;
    gap: 127px;    
    color: white;
}

.button {
    top: 80px;
}

.signin-button {
    width: 266px;
    height: 39px;
    border: none;
    border-radius: 24px;
}

:hover.signin-button {
    cursor: pointer;
    background: var(--element-secondary);
    color: white;
}

.signin-with {
    top: 110px;    
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.method {    
    top: 140px;
    gap: 20px;
}

.sphere1 {    
    width: 156px;
    height: 50px;
    font-size: 24px;
    border-radius: 24px;
    gap: 10px;
    color: #014040;
}

.sphere2 {
    width: 156px;
    height: 50px;
    font-size: 24px;
    border-radius: 24px;   
    gap: 10px;
    color: #014040;
}

/* ///////////////////////CODE/////////////////////// */