/* //////////////////////CONFIG////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');

:root{
    font-size: 16px;
    font-family: "Open Sans";
    position: relative;
    --backgorund-primary: #f5f5e1;
    --background-secondary: #014040;
    --background-extra: rgb(147, 201, 131);
    --element-primary: #008f8c;
    --element-secondary: #f27405;
    --extra: #d2d1c7;
    --transition-speed: 400ms;
}

::placeholder{
    color: white;
    opacity: 0.4;
}

input[type=submit]{
    color:  var(--background-secondary);
    font-size: 25px;
    font-family: 'Source Sans 3', sans-serif;
}

a {
    color: inherit;
}
/* //////////////////////CONFIG////////////////////// */

body{
    background-color: orange;
    overflow-x: hidden;
}

.logo{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    left: 5px;
}

.img-logo{
    fill: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;  
}

.signin-box{
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 578px;
    background-color: rgba(0, 143, 140, 1);
    border-radius: 24px;
    box-shadow: -17px 15px 0px 0px rgba(0, 0, 0, 0.25);
}

.signin{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    color: white;
}

.account{
    width: 351px;
    height: 430px;
    position: relative;
    top: 50px;
    left: 30px;
}

.username{
    position: relative;
    font-size: 24px;    
    color: white;
    font-family: 'Source Sans 3', sans-serif;
}

.user-img-input{
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-img{
    position: relative;
    left: 3px;
    width: 10px;
    fill: white;
}

.user-input{
    font-family: 'Source Sans 3', sans-serif;
    width: 326px;
    font-size: 14px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
}

.password{
    position: relative;
    top: 30px;
    font-size: 24px;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
}

.pass-img-input{
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.pass-img{
    position: relative;
    left: -3px;
    width: 20px;
    fill: white;
}

.pass-input{
    font-family: 'Source Sans 3', sans-serif;
    width: 325px;
    font-size: 14px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
}

.bird-brain{
    position: relative;
    display: flex;
    top: 50px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 12px;
    color: white;
    gap: 127px;
}

.signin-with{
    position: relative;
    display: flex;
    justify-content: center;
    top: 70px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.method{
    position: relative;
    display: flex;
    top: 95px;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.google-link{
    text-decoration: none;
}

.sphere1{
    background-color: white;
    width: 156px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 24px;
    gap: 10px;
}

.microsoft-link{
    text-decoration: none;
}

.sphere2{
    background-color: white;
    width: 156px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 24px;   
    gap: 10px; 
}

.button{
    position: relative;
    display: flex;
    top: 150px;
    justify-content: center;
}

.signin-button{
    background-color: white;
    width: 266px;
    height: 39px;
    border: none;
    border-radius: 24px;
}

:hover.signin-button{
    cursor: pointer;
    background-color: var(--element-secondary);
    color: white;
}
